div {
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  
    button {
      flex: 1;
      padding: 8px;
      background-color: #eee;
      color: #333;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &.active {
        background-color: #ddd;
      }
  
      &:hover {
        background-color: #ddd;
      }
    }
  }
  